<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button type="btn" class="btn btn-primary pull-left" (click)="cleanBoard()">CleanBoard</button>
    </div>
  </div>
  <br>
  <style type="text/css">
    canvas{
      /*background: lawngreen;*/
      background-color: turquoise;
    }
  </style>
  <canvas class="whiteboard" ></canvas>
  <div class="colors">
    <div class="color black"></div>
    <div class="color red"></div>
    <div class="color green"></div>
    <div class="color blue"></div>
    <div class="color yellow"></div>
  </div>
</div>
